@tailwind base;
@tailwind components;

html, body {
  scroll-behavior: smooth
}

@layer components {
  body {
    @apply bg-secondary-1 text-black overflow-x-hidden
  }

  html {
    @apply max-w-full overflow-x-hidden
  }
} 

@tailwind utilities;

.slider-0 {
  transform: translateX(0px);
}
.slider-1 {
  transform: translateX(-600px);
}
.slider-2 {
  transform: translateX(-1200px);
}
.slider-3 {
  transform: translateX(-1800px);
}
.slider-4 {
  transform: translateX(-2400px);
}
.slider-5 {
  transform: translateX(-3000px);
}
.slider-6 {
  transform: translateX(-3600px);
}

.burger {
  background: linear-gradient(257deg, rgba(18,109,144,1) 0%, rgba(28,172,228,1) 50%, rgba(28,178,228,0.6573004201680672) 100%);
}

.top-background-radius {
  border-radius: 0% 0% 40% 60% / 61% 25% 75% 39% ;
}

.about {
  background: linear-gradient(180deg, rgba(1,1,1,0) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%);
}

.about-center {
  background: radial-gradient(circle, rgba(18,111,147,1) 0%, rgba(25,19,37,1) 100%);
}

.custom-border-radius {
  border-radius: 35% 64% 32% 66% / 69% 60% 42% 31% ;
}

.custom-border-radius--reverted {
  border-radius: 80% 60% 42% 31% / 35% 33% 47% 66% ;
}

.block-3-gradient {
  background: linear-gradient(180deg, rgba(19,108,144,1) 0%, rgba(11,62,83,1) 75%, rgba(1,1,1,1) 100%);
}

/* swiper */

.swiper-button-prev,
.swiper-button-next {
  color: #3E3E3E;
  transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: black;
  scale: 110%
}

.radial-background {
  background: radial-gradient(circle, rgba(208,108,108,0.6) 0%, rgba(0,212,255,0) 50%);
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes pop-up {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pop-up {
  animation: 0.5s pop-up forwards
}

.services-text p {
  margin: 14px 0px;
}